._*
.DS_Store
.localized
/codemirror/*
!/codemirror/LICENSE
!/codemirror/addon
/codemirror/addon/*
!/codemirror/addon/mode
!/codemirror/addon/runmode
/codemirror/addon/mode/*
/codemirror/addon/runmode/*
!/codemirror/addon/mode/simple.js
!/codemirror/addon/runmode/runmode.js
!/codemirror/lib
!/codemirror/mode
/codemirror/mode/*.htm*
!/codemirror/mode/meta.js
/codemirror/mode/*/*
!/codemirror/mode/*/*.js
/codemirror/mode/*/*test*
!/codemirror/theme
